# Archivos de compilación / base de datos de Quartus
db/
incremental_db/
output_files/
simulation/
*.sof
*.pof
*.rpt
*.qws
*.qmsg
*.html
*.xml
*.csv
*.pin
*.bak
*.log
*.done
*.cdb
*.ddb
*.idb
*.tdb
*.sig
*.sld
*.summary
*.hb_info
*.hdb
*.hier_info
*.hif
*.hsd
*.kpt
*.rcfdb
*.rdb
*.tmw_info
*.ammdb
*.bpm

# Archivos de simulación
work/
*.ghw
*.vcd
*.wlf
*.fst
*.exe

# Configuraciones de IDE/Editor
.idea/
.vscode/
*.iml

# Archivos de backup/temporales
*~
#*#
*.swp
